:root {
--text-color: #a35fa2;
--card-front-color: hsl(170, 80%, 37%);
--card-back-color: #328655;
}

body {
background: url('bg-desktop.webp');
font-family: Bai Jamjuree;
}

#container {
display:flex ;
flex-wrap: wrap;
justify-content: space-between;
padding: 4rem;
gap: 3rem;
}

.cartao {
margin: 1rem 1rem;
background-color: #328655;
height: 20rem;
flex-grow: 1;
flex-basis: calc(33% -6rem);
}

.cartao.active .cartao__conteudo {
    transform: rotateY(180deg);
}
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
backface-visibility: hidden;
position: absolute;
height: 100%;
width: 100%;
 box-sizing: border-box;
}

.cartao__conteudo__resposta {
transform: rotateY(180deg);
background-color: rdba(0, 244, 191, 0.2);
     border: 4px solid var(--card-back-color);
}


footer {
background-color: rgb(52, 35, 142);
color: hsl(170, 80%, 37%);
bottom:0;
position:fixed;
width:100%;
height:2rem;
}

footer p{
text-align: center;
font-size: 0.6rem;
margin-top: 0,5rem;
}
